<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>section</key>
		<string>功能介绍</string>
		<key>rows</key>
		<array>
			<string>友盟游戏分析服务帮助你跟踪游戏的收入、关卡、道具购买、消耗、奖励等指标,并且通过友盟的网站后台，提供良好的数据展示。我们目前支持iOS，Android平台。您可以在五分钟内轻松完成集成过程。</string>
			<string>媒体类应用都可以依照上面的方法去追踪事件，比如阅读文章、观看视频、播放音乐等。这样可以清楚地了解哪些作品有更高点击率、更长展示时间，以及更受用户喜欢，从而在内容选择和推荐上更有针对性。可以观察玩家在哪一关的死亡率最高，是否与上面流失率最高的关卡吻合，这样能判断关卡难度是否是造成流失的主要原因。如果是，我们可以通过降低关卡难度来让更多的玩家留在游戏中；如果不是，那么需要从其他方面入手，比如丰富游戏内容增加对玩家吸引力、加强对新手的引导环节等。</string>
			<string>为了能够尽快响应您的反馈，请提供您的appkey及log中的详细出错日志，您所提供的内容越详细越有助于我们帮您解决问题。</string>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>接入流程</string>
		<key>rows</key>
		<array>
			<string>友盟游戏分析服务帮助你跟踪游戏的收入、关卡、道具购买、消耗、奖励等指标,并且通过友盟的网站后台，提供良好的数据展示。我们目前支持iOS，Android平台。您可以在五分钟内轻松完成集成过程。</string>
			<string>媒体类应用都可以依照上面的方法去追踪事件，比如阅读文章、观看视频、播放音乐等。这样可以清楚地了解哪些作品有更高点击率、更长展示时间，以及更受用户喜欢，从而在内容选择和推荐上更有针对性。可以观察玩家在哪一关的死亡率最高，是否与上面流失率最高的关卡吻合，这样能判断关卡难度是否是造成流失的主要原因。如果是，我们可以通过降低关卡难度来让更多的玩家留在游戏中；如果不是，那么需要从其他方面入手，比如丰富游戏内容增加对玩家吸引力、加强对新手的引导环节等。</string>
			<string>如果您自己实现了分享功能，也不想切换到友盟的社会化组件，但是想使用友盟的社交统计功能，您可以采用这个非常轻量级的SDK，只需要调用一行代码，便可享用到丰富的社交行为和社交用户分析报表。</string>
			<string>为了能够尽快响应您的反馈，请提供您的appkey及log中的详细出错日志，您所提供的内容越详细越有助于我们帮您解决问题。</string>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>高级功能</string>
		<key>rows</key>
		<array>
			<string>媒体类应用都可以依照上面的方法去追踪事件，比如阅读文章、观看视频、播放音乐等。这样可以清楚地了解哪些作品有更高点击率、更长展示时间，以及更受用户喜欢，从而在内容选择和推荐上更有针对性。可以观察玩家在哪一关的死亡率最高，是否与上面流失率最高的关卡吻合，这样能判断关卡难度是否是造成流失的主要原因。如果是，我们可以通过降低关卡难度来让更多的玩家留在游戏中；如果不是，那么需要从其他方面入手，比如丰富游戏内容增加对玩家吸引力、加强对新手的引导环节等。</string>
			<string>为了能够尽快响应您的反馈，请提供您的appkey及log中的详细出错日志，您所提供的内容越详细越有助于我们帮您解决问题。</string>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>技术支持</string>
		<key>rows</key>
		<array>
			<string>为了能够尽快响应您的反馈，请提供您的appkey及log中的详细出错日志，您所提供的内容越详细越有助于我们帮您解决问题。</string>
			<string>媒体类应用都可以依照上面的方法去追踪事件，比如阅读文章、观看视频、播放音乐等。这样可以清楚地了解哪些作品有更高点击率、更长展示时间，以及更受用户喜欢，从而在内容选择和推荐上更有针对性。可以观察玩家在哪一关的死亡率最高，是否与上面流失率最高的关卡吻合，这样能判断关卡难度是否是造成流失的主要原因。如果是，我们可以通过降低关卡难度来让更多的玩家留在游戏中；如果不是，那么需要从其他方面入手，比如丰富游戏内容增加对玩家吸引力、加强对新手的引导环节等。</string>
		</array>
	</dict>
</array>
</plist>
